{% extends 'base.html' %}
    {% block content %}
    <section id="contact">

        <!-- Heading -->

        <!--Grid row-->
        <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-12"></div>
        <!--Grid column-->

        <!--Grid column-->


        <div class="col-lg-6 col-md-12">
          <!-- Form contact -->
          <h2 class="mb-5 font-weight-bold text-center" style="margin-top: 100px;">Sign Up</h2>

            <div class="text-center mt-4">
              <form class="p-5 grey-text" method="post" style="margin-top: -50px;">
            {% csrf_token %}
            {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Sign up <i class="far fa-paper-planeml-1"></i></button>
            </form>
            </div>

          <!-- Form contact -->
        </div>
        <!--Grid row-->

    </section>

{% endblock %}