{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">--->

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!--<script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>-->




    </head>
    <body>
    <!--Main Navigation-->
    {% if request.path == "/" %}
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    {% else %}
    <header style="height: 5px">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-color">
    {% endif %}

          <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="{% url 'home' %}">Adil's Blog</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

              <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_list' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact_page' %}">Contact</a>
                    </li>
                </ul>
              <!-- Links -->
            </div>
            <!-- Social Icon  -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>

          </div>

        </nav>
        <!--/.Navbar-->
        {% if request.path == "/" %}
        <!--Mask-->
            <div id="intro" class="view">

                <div class="mask rgba-black-strong">

                    <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                        <div class="row d-flex justify-content-center text-center">

                            <div class="col-md-10">

                                <!-- Heading -->
                                <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                                    {% if user.is_authenticated %} Welcome, {{user.username}} to
                                    {% endif %}
                                    Adil's Mind</h2>
                                <!-- Divider -->
                                <hr class="hr-light">

                                <!-- Description -->
                                <h4 class="white-text my-4">Thank you for visiting my site, internet tourist</h4>
                                <a href="{% url 'post_list' %}">
                                <button type="button" class="btn btn-outline-white">Read more<i class="fas fa-book ml-2"></i></button>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        {% endif %}

        <!--Mask-->
    </header>
    <!--Main Navigation-->
    {% block content %}
    {% endblock %}
    <!--Footer-->
    <footer class="page-footer unique-color-dark">

    <!-- Social buttons -->
    <div class="primary-color">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!--Linkedin--
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>-->
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text mr-lg-4"></i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Social buttons -->

    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Adil's Blog</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Thanks for visiting my site!</p>
            </div>
            <!--/.First column-->

            <!--Second column-->

            <!--/.Second column-->

            <!--Third column-->

            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home  mr-3"></i> VA,USA</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>Borty1337@gmail.com</p>
               <!--<p>
                    <i class="fas fa-phone mr-3"></i> </p>
                <p>
                    <i class="fas fa-print mr-3"></i> </p>-->
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Adil's Blog</a>
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Carousel options -->
    <script>
        $('.carousel').carousel({
            interval: 2000,
        })
    </script>

    </body>
</html>