{% load static %}
<!--Section: Contact-->
<section id="contact">

    <!-- Heading -->
    <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>

    <!--Grid row-->
    <div class="row">

    <!--Grid column-->
    <div class="col-lg-5 col-md-12">
      <!-- Form contact -->
      <form class="p-5 grey-text">
        <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
          <input type="text" id="form3" class="form-control form-control-sm">
          <label for="form3">Your name</label>
        </div>
        <div class="md-form form-sm"> <i class="fas fa-envelope prefix"></i>
          <input type="text" id="form2" class="form-control form-control-sm">
          <label for="form2">Your email</label>
        </div>
        <div class="md-form form-sm"> <i class="fas fa-tag prefix"></i>
          <input type="text" id="form32" class="form-control form-control-sm">
          <label for="form34">Subject</label>
        </div>
        <div class="md-form form-sm"> <i class="fas fa-pencil-alt prefix"></i>
          <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
          <label for="form8">Your message</label>
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-primary">Send <i class="far fa-paper-planeml-1"></i></button>
        </div>
      </form>
      <!-- Form contact -->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7 col-md-12">
        <img  src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" width="600" height="360">
    </div>
    <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Contact-->